.technologies {
    background-color: #3438ED;
    padding: 1.875rem;
    box-shadow: 0.625rem 0.25rem 1.875rem rgba(0, 0, 0, 0.2);
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top: solid 5px #121212;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.tech-icons {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    place-items: center;
    gap: 1.875rem;
    max-width: 50rem;
    margin: 0 auto;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-icons img {
    height: 4.375rem;
    background-color: rgb(11, 2, 94);
    border-radius: 0.5rem;
    object-fit: contain;
    padding: 0.3125rem;

    transition: transform 0.1s ease;
}

.tech-icons img:hover {
    transform: scale(1.1);
}

.technologies p {
    font-weight: bold;
    background-color: #3438ED;
    padding: 0.75rem 2rem;
    font-size: 1.875rem;
    margin: 0;

    transform: translateY(-4rem);
    position: relative;
    z-index: 2;

    border-radius: 10px;
    color: #F1F5F9;
    border-top: solid 5px #121212
}

@media (max-width: 768px) {
    .tech-icons img {
        height: 3rem;
        border-radius: 0.5rem;
        object-fit: contain;
        padding: 0.3125rem;
    
        transition: transform 0.1s ease;
    }

    .tech-icons {
        background: transparent;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        place-items: center;
        gap: 1rem;
        max-width: 50rem;
        margin: 0 auto;
    }
}
