.graduate-card img {
    height: 60px;
}

.education {
    height: 40vh;
    background-color: #3438ED;
    display: flex;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.2);
}

.graduate-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F5F9;
}

.graduate-card p {
    font-size: 18px;
}

.graduate-card span{
    font-weight: bold;
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 50px;
}