.header {
    text-align: center;
    background-color: #6366F1;
    padding-bottom: 7vh;
    padding-top: 3vh;
}

.header img {
    height: 300px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.img-border-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    transition: transform 0.3s ease;
    transform: backgr;
    height: 300px;
    width: 300px;
    background-color: #F1F5F9;
    border-radius: 50%;
    padding: 10px;
}

.img-border-wrapper:hover {
    transform: scale(1.05);
    background: linear-gradient(60deg,
            red, orange, yellow, green,
            cyan, blue, violet, red);
    background-size: 400% 100%;
    animation: rgbWave 3s linear infinite reverse;
    padding: 10px;
}

@keyframes rgbWave {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.header p {
    font-size: 20px;
}

.header span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .header img {
        height: 200px;
        margin-bottom: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }

    .img-border-wrapper {
        display: flex;
        justify-content: center;
        margin: auto;
        transition: transform 0.3s ease;
        transform: backgr;
        height: 200px;
        width: 200px;
        background-color: #F1F5F9;
        border-radius: 50%;
        padding: 10px;
    }

    .header p {
        font-size: 16px;
    }

    .header h1 {
        font-size: 25px;
    }
}