.living {
    height: 40vh;
    background-color: #6366F1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 10vh;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.2);
}

.location-card img {
    height: 60px;
    margin-left: 10vw;
}

.location-card p {
    font-size: 30px;
    color: #F1F5F9
}

.location-card {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    margin-left: 1vw;
    margin-top: -30px;
}

.location-card span {
    font-weight: 700;
}