.robotics {
    text-align: center;
}

.robotics p {
    padding-top: 0.625rem;
    margin: auto;
}

.award {
    padding-bottom: 0.625rem;
    color: #121212;
    font-style: italic;
}

.ftc {
    font-size: 1.375rem;
    color: #6366f1;
}

.fgc {
    font-size: 1.25rem;
    color: #6366f1;
}

.robotics span {
    font-size: 1.25rem;
}

.purple-line {
    border: none;
    height: 0.125rem;
    background-color: #6366F1;
    margin: 0.625rem auto;
    width: 50%;
    border-radius: 0.25rem;
}

.robotics a {
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    transition: transform 0.1s ease;
}

.robotics a:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .robotics {
        text-align: center;
        margin: auto;
        max-width: 80%;
    }

    .ftc {
        font-size: 1.1rem;
        color: #6366f1;
    }

    .fgc {
        font-size: 1.1rem;
        color: #6366f1;
    }

    .robotics span {
        font-size: 0.9rem;
    }

    .award {
        font-size: 0.8rem;
    }
}