.technologies {
    background-color: #3438ED;
    padding: 30px;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.tech-icons {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    place-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-icons img {
    height: 70px;
    background-color: transparent;
    border-radius: 8px;
    object-fit: contain;
    padding: 5px;
    background-color: white;

    transition: transform 0.1s ease;
}

.tech-icons img:hover {
    transform: scale(1.1);
}
