.project-preview {
    position: relative;
    width: 20rem;
    height: 15rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    transition: transform 0.2s ease;
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    user-select: none;
    pointer-events: none;
}

.thumbnail-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgba(99, 248, 97, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.thumbnail-overlay .name {
    font-weight: bold;
    color: #121212;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.thumbnail-overlay .info {
    margin: 0;
    font-size: 0.85rem;
    color: #333;
    text-align: center;
}

.project-preview:hover {
    transform: scale(1.05);
}

.project-preview:active {
    transform: scale(0.9);
}

.project-preview p {
    user-select: none;
    pointer-events: none;
}